.element{
    width:150px;
    height: 100px;
    background: gray;
    border: 1px solid red;
    z-index: 3;
    position: relative;
}

.positionRelative{
    position: relative;
    top: 70px;
    left: 50px;
    height: 170px;
    background: blue;
    z-index: 1;
}

.positionAbsolute{
    position: absolute;
    top: 70px;
    left: 50px;
    height: 170px;
    background: red;
    z-index: 1;
}